DB_HOST=dal-241001.bloom.host
DB_PORT=3306
DB_NAME=s119339_Aeonweb
DB_USER=u119339_EBMpCjBdyV
DB_PASS=ippEWHGzW5a5vNUKi4IN39h9
JWT_SECRET=your_jwt_secret_key_here
VERCEL_URL=https://your-app.vercel.app
